# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
tools
/.idea
.DS_Store
.vscode
.build
.vimprojects
swagger.yml
swagger.json
*.log
logs/*
*.swp
nohup.out
.idea/workspace.xml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
